.pull-right {
    float: right;
}

#input-search-bar {
    text-align: left;
    font-size: 1.5em;
}
.option {
    text-align: left;
}
@media screen and (min-width: 48em) {
    #input-search-bar {
        text-align: center;
        font-size: 1.5em;
    }
    .option {
        text-align: center;
    }
}

.title {
    font-size: 2em;
    font-weight: 700;
}
.lexical-category {
    color: orange;
    margin-left: 0.6em;
}
.note {
    color: green;
}
.definition {
    margin-left: 0.2em;
    line-height: 1.5em;
    display: inline-block;
}
.definition:first-letter {
    text-transform: uppercase;
}
.definition:after {
    content: ".";
}
.example {
    quotes: '\2018' '\2019';
    margin-left: 0.2em;
    line-height: 1.5em;
    font-weight: 550;
}
.example:before {
    content: open-quote;
}
.example:after {
    content: close-quote;
}
.other-aspect {
    margin-left: 0.6em;
}
.other-aspect-body {
    margin: 1.2em;
    display: inline-block;
}
.other-aspect-body:first-letter {
    text-transform: uppercase;
}
